@font-face {
    font-family:'AkrobatBold';
    src: url(fonts/AkrobatBold.woff) format('woff');
}
@font-face {
    font-family:'AkrobatSemiBold';
    src: url(fonts/AkrobatSemiBold.woff) format('woff');
}
@font-face {
    font-family:'AkrobatRegular';
    src: url(fonts/AkrobatRegular.woff) format('woff');
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.product-page{
    font-family:'AkrobatBold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    overflow-x: hidden;
    background: black;
    padding: 50px 0;
}
.product-page__head{
    position: relative;
}
.limit{
    margin: 0 auto;
    max-width: 1160px;
}
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.product-page__prod{
    grid-template-columns: 1fr 1fr;
    gap:0 60px;
    align-items: center;
}
.ft-700{
    font-family: 'AkrobatBold', sans-serif;
    font-weight: 700;
}
.ft-600{
    font-family: 'AkrobatSemiBold', sans-serif;
    font-weight: 600;
}
.ft-500{
    font-family:'AkrobatRegular', sans-serif;
    font-weight: 500;
}
.product-page__h2{
    font-size: 36px;
    line-height: 54px;
}
.product-descr__h2{
    margin: 0 0 30px 0;
}
.product-page__descr{
    margin: 0 0 30px 0;
}
.product-page__descr-row{
    margin: 0 0 10px 0;
}
.product-page__row-span{
    margin: 0 10px 0 0;
}
.product-page__mark{
    position: relative;
    margin: 0 0 0 23px;
}
.product-page__mark:before{
    width: 12px;
    height: 9px;
    content: "";
    background-image: url(img/prod-info-svg.svg);
    position: absolute;
    left: -22px;
    top: 25%;
}
.block-margin{
    margin: 0 0 100px 0;
}
.product-page__slider{
    overflow-x: hidden;
}
.orange-text{
    color: #DBA42C;
}
.gray-text{
    color: #808080;
}
.def-button{
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    background: none;
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}
.def-button:hover{
    opacity: 0.7;
}
.product-page__order-btn{
    font-size: 20px;
    line-height: 30px;
}
.orange-btn{
    background: #DBA42C;
    border: 1px solid #DBA42C;
}
.order-popup{
    display: none;
    max-width: 25%;
    background: #FFFFFF;
    z-index: 3;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(49, 49, 49, 0.05);
    border-radius: 20px;
}
.order-popup__header {
    padding: 15px 13px 20px 0;
}
.modal-close {
    background: url(img/Close.png) no-repeat center;
    cursor: pointer;
    width: 18px;
    height: 18px;
    float: right;
}
.order-popup__cont {
    padding: 0 24px 24px 24px;
}
.order-popup__title {
    font-size: 22px;
    line-height: 33px;
    justify-content: center;
    margin: 0 0 10px 0;
    color: #808080;
}
.order-popup__input {
    width: 100%;
    margin: 0 0 15px 0;
    border: 1.5px solid #E0E0E0;
    border-radius: 10px;
    padding: 12px;
    outline: none;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(17 17 17 / 70%);
    overflow-y: hidden;
}
.order-popup__btn{
    width: 100%;
    background: #DBA42C;
}
.info-block__grid{
    grid-template-columns: 1fr;
    gap:30px 0;
}
.info-block__tabs{
    gap:0 40px;
}
.info-block__tab{
    cursor: pointer;
    text-transform: uppercase;
    color: #808080;
    font-size: 22px;
    line-height: 33px;
}
.info-block__tab.i-active-tab {
    border-bottom: 2px solid #DBA42C;
    padding: 0 0 5px 0;
    color: #FFFFFF;
}
.info-block__tab-cont{
    display: none;
}
.info-block__tab-cont.active-tab-cont {
    display: block;
}
.rec-products__h2{
    margin: 0 0 50px 0;
}
.rec-products__item{
    flex-direction: column;
    height: 100%;
}
.rec-products__item-img{
    margin: 0 0 23px 0;
}
.rec-products__item-title{
    line-height: 27px;
    margin: 0 0 15px 0;
}
.ft-size-16{
    font-size: 16px;
    line-height: 24px;
}
.rec-products__item-txt{
    margin-bottom: 20px;
}
.rec-products__item-text{
   height: 100%;
}
.rec-products__item-btns{
    gap:0 10px;
    margin-top: auto;
}
.rec-products__slider .owl-stage {
    display: flex;
}
.rec-products__slider .owl-item {
    display: flex;
}
.rec-products__item {
    display: flex;
    flex-direction: column;
}
.product-page .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #808080;
}
.product-page .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #DBA42C;
}
@media (max-width: 1280px){
    .limit{
        margin: 0 40px;
    }
    .block-margin {
        margin: 0 0 50px 0;
    }
    .product-page__prod {
        grid-template-columns: 1.5fr 1fr;
        gap: 0 30px;
        align-items: unset;
    }
    .order-popup {  
        max-width: 40%;
        top: 50%;
    }
}
@media (max-width: 820px){
    .order-popup { 
        max-width: 50%; 
        top: 30%;
    }
}
@media (max-width: 540px){
    .limit{
        margin: 0 20px;
    }
    .product-page__prod {
        grid-template-columns: 1fr;
        gap: 10px 0;
    }
    .def-button {
        width: 100%;
    }
    .order-popup {
        max-width: unset;
        width: 90%;
        top: 45%;
    }
}